@media (min-width: 700px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    #hamburger {
        display: none;
    }

    nav {
        display: flex !important;
        position: static;
        background: none;
        padding: 0;
    }
}