:root {
    --main-color: #2c3e50;
    --accent-color: #e0f7fa;
    --font-family: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 1rem;
}

picture img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.info {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    line-height: 1.5;
    color: #333;
}

.weather {
    text-align: center;
    background-color: var(--accent-color);
    padding: 1rem;
    border-radius: 8px;
    max-width: 600px;
    margin: 2rem auto;
    box-shadow: 0 2px 8px rgba(44, 166, 224, 0.1);
}

.weather h2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.weather h2::after {
    content: '';
    display: none;
    width: 40px;
    height: 40px;
    background-image: url('../images/weather-icon.svg');
    /* Asegúrate que la ruta sea correcta */
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0.5rem;
    vertical-align: middle;
}

.weather-icon {
    display: block;
    width: 64px;
    margin: 0 auto;
    height: auto;
}

@media screen and (min-width: 768px) {
    .weather h2::after {
        display: inline-block;
    }
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #ccc;
}