@media (max-width: 500px) {
    nav {
        display: none;
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: 60px;
        /* adjust as needed */
        left: 0;
        width: 100%;
        z-index: 100;
    }

    nav.open {
        display: flex;
    }

    #hamburger {
        display: block;
    }
}